<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>Bienvenido</h1>
    <center>
    <br><br>
    <table width="30%">
        <tr>
            <th>Ingresar Admin</th>
        </tr>
        <form action="/admin/main" method="GET">
        <tr>
            <td><label>Username: <input name="user" type="text"></label></td>
        </tr>
        <tr>
            <td><label>Password : <input name="password" type="password"></label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
        </tr>
        </form>

    </table>
    </center>    
</body>
</html>