<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio admin</title>
    <%- include ('partials/head.ejs') %>
    </head>
<body>
    
    <%- include ('partials/navigation.ejs') %>

    <div class="container">
        <header class="row">
            <div class="col-lg-10 text-center">
                <img src="/img/padoru.png" alt="Padoru" width="50%" class="animated heartBeat">
            </div>
        </header>
    </div>

</body>
</html>